* {
    box-sizing: border-box;
}

body {
    background-color: #161616;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    gap: 5px;
}

.game-cell {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}

.winner {
    color: rgb(0, 255, 21);
    font-weight: bold;
}

.regular {
    color: #464646;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#restart-button {
    background-color: #464646;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #800000;
}
